* { /* default is phone screen styling */
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	
}

.img-banner {
	display: none;
}

.img-info {
	width: 100%;
}

.img-info h2{
	text-align:center;
	padding-top:100px;
	font-family: 'charukola-unicode-regular', sans-serif;
	font-size: 40px;
	line-height: 60px;
}
.img-info p{
	padding: 0px 30px 20px;
	font-family: 'charukola-unicode-regular', sans-serif;
	font-size: 16px;
	color: #50555c;
	line-height: 24px;
}
.img-2yb {
	width: 100%; 	
}

/*--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:810px) { /* tablet styling 810x */
	.img-banner {
		display: block;
		width: 100%;
		padding-bottom: 30px;
	}
	
	.wrapper {
		width:600px;
		margin: 0 auto; 
	}
	
	.img-info h2{
		text-align:center;
		padding-top:100px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 40px;
		line-height: 60px;
			
	}
	.img-info p{
		padding: 20px 0px 0px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 24px;
	}
	
	.img-2yb {
		padding-top: 30px;
	}
}
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1000px) { /*computer screen styling */
	.wrapper {
		width: 1000px;
	}
	
	.img-info {
		width:50%;
		float: right;
	}
	
	.img-info h2{
		text-align:center;
		padding-top:100px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 40px;
		line-height: 60px;
			
	}
	.img-info p{
		padding: 20px 0px 0px 30px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 24px;
	}
	
	.img-2yb {
		padding-top: 0px;
		width:50%;
		float: left;
	}
}
