
@media only screen and (min-width: 100px){ /* mobile screen */

* {
  /* default is phone screen styling */
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.banner-words{
	text-align: center;
	font-family:'charukola-unicode-regular', sans-serif;
	padding-top: 60%;
	padding-bottom: 0%;
	color: white;
}

.bg-img2{
	background-image: url(img/purplecitybg);
	background-attachment: fixed;
	width: 100vw;
	height: 300vh;
	background-size:cover;
	background-repeat: repeat-y;
	padding-top: 0%;
}

.wrapper2{
	width: 100vw;
	margin: 0 auto;
}
p {
  font-family: 'charukola-unicode-regular', sans-serif;
  color: #50555c;
}

.title { /* my journey title */
	font-family: 'charukola-sans-regular', sans-serif;
	text-align: center;
	padding-top: 20%;
	padding-bottom: 20%;

}

.p-title {
	text-align: center;
	font-family:'charukola-unicode-regular', sans-serif;
	padding-top: 20%;
	padding-bottom: 15%;
	color: white;
}

.img-banner { /* top image aka banner img */
	background-image: url(img/lainimg2);
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	background-size:cover;
	background-repeat:no-repeat;
	padding-bottom:5%;
  }

.img-info {
  /* article tag */
  width: 100%;
}

.img-info h3 {
  /* title for job */
  padding: 20px 30px 10px;
  font-family: 'charukola-unicode-regular', sans-serif;
  font-size: 25px;
}

.img-info h2 {
  text-align: center;
  padding-top: 100px;
  font-family: 'charukola-unicode-regular', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.img-info p {
  padding: 0px 30px 20px;
  font-family: 'charukola-unicode-regular', sans-serif;
  font-size: 16px;
  color: #50555c;
  line-height: 24px;
}

.img-info ul{/* list css styling */
	padding: 20px 0px 0px 30px;
	font-family: 'charukola-unicode-regular', sans-serif;
	font-size: 16px;
	color: #50555c;
	line-height: 30px;
	padding-left: 10%;
	padding-right:10%;
	padding-bottom: 10%;
}
.img-info li{
	line-height: 30px;
}


/*
    the css code that controls the images is:
*/
/*img div tags begin */
.img-2yb {
  /* 1st g beside text */
  width: 75%;
  padding: 30px 30px 10px; 	
}

.astro-img {
  /* 1st img beside text */
  width: 75%;
  padding: 30px 30px 10px;
	} 

.clubs-img { /* satec club image */
	width: 75%;
	padding: 30px 30px 10px;
}
.volunteer-img{ /* volunteer image */
	width: 75%;
	padding: 30px 30px 10px;
}
.competition-img { /* competition image */
	width: 75%;
	padding: 30px 30px 10px;
}
.work-img { /* work image */
	width: 75%;
	padding: 30px 30px 10px;
}
.sport-img { /* sport image */
	width: 75%;
	padding: 30px 30px 10px;
}

/* who i am tags begin mobile*/

.box-imgs{
	width: 40%;
	height:40%;
	margin-left: auto;
  	margin-right: auto;
	padding-bottom: 15%;
}

.whoiam-section{
	display:flex;
	flex-direction: column;
	padding: 0% 15% 0% 15%; /* top right bottom left */
	text-align: center !important;
	
	
	
}
.column {
	display:flex;
	flex-direction:column;
	text-align: center;
	padding:10% 10% 10% 10%;
	background-color: #e4f6f8;
	border: 1px solid #D3D3D3;
	border-radius: 25px;
	
}

.column h1{
	text-align:center;
	padding-top:0%;
	padding-bottom:10%;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	line-height: 40px;		
	
}

.green-text{
	text-align: center;
	padding: 50px 20px 10px; /* top right bottom left */
	font-family: 'charukola-unicode-regular', sans-serif;
	font-size: 16px;
	color: #50555c;
	line-height: 24px;
}
.column p{
	text-align:center;
}
}

/*--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:800px) { /* tablet styling 800px */
	.wrapper {
		width: 800px;
		margin: 0 auto;
	}

	.banner-words{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-top: 30%;
		padding-bottom: 0%;
		color: white;
	}

	.bg-img2{
		background-image: url(img/purplecitybg);
		background-attachment: fixed;
		width: 100vw;
		height: 200vh;
		background-size:cover;
		background-repeat:no-repeat;
		padding-top: 0%;
	}
	
	.wrapper2{
		width: 100vw;
		margin: 0 auto;
	}

	.title{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-bottom: 10%;	
	}

	.p-title{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-top: 20%;
		padding-bottom: 15%;
		color: white;
	}
	.img-banner { /* top image aka banner img */
		background-image: url(img/ipadimg1);
		background-attachment: fixed;
		width: 100vw;
		height: 1080px;
		background-size:cover;
		background-repeat:no-repeat;
		padding-bottom:15%;
	  }

	.article { /* class for <section> tag. wraps around all text & img for each section or mai journey */
		display: flex;
		justify-content: space-around;
		}
	
	.image-holder { /* class for all the images used. they're wrapped in a div */
			width: 25%;
			padding-right: 0%;
		  }
		  
		  
	.img-info { /* tag for all text under my journey section */
		width:70%;
		
	}
	
	.img-info h3{ /* tag for all text under my journey section */
		padding:40px 0px 0px 30px;
		font-family:'charukola-unicode-regular', sans-serif;
		font-size: 25px;
		
	}	
	.img-info h2{/* tag for all text under my journey section */
		text-align:center;
		padding-top:100px;
		padding-bottom:50px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 40px;
		line-height: 60px;
			
	}
	.img-info p{/* tag for all text under my journey section */
		padding: 20px 0px 0px 30px;
		padding-right: 30px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 30px;
	}

	.img-info ul{/* list css styling */
		padding: 20px 0px 0px 30px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 30px;
		padding-left: 10%;
		padding-bottom: 10%;
		padding-right: 10%;
	}
	.img-info li{
		line-height: 35px;
	}
	p.para { /* long text paragraphs. This is used for adding padding at the bottom to give each section space.*/
		padding-bottom: 10%;
		padding-right: 10%
	}
	/* img div tags begin */
	
	.img-2yb { /*satec @WA porter img */
		padding-top: 40px;
		width: 100%;
		height: auto;
	  }
	
	.astro-img { /* satec astro image  */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	.clubs-img { /* satec club image */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	.volunteer-img { /* satec volunteer image */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	.competition-img { /* satec competition image */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	.work-img { /* job imges */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	
	.sport-img { /* sport imges */
		padding-top: 40px;
		width: 100%;
		height: auto;
	}
	/* who i am tags begin tablet*/

	.box-imgs{
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30%;
	}

	.whoiam-section{
		display:flex;
		flex-direction: row;
		padding: 0% 5% 0% 5%; /* top right bottom left */
		text-align: center;
		
	}
	.column {
		display:flex;
		flex-direction:column;
		text-align: center;
		padding:10% 10% 10% 10%;
		background-color: #e4f6f8;
		border: 1px solid #D3D3D3;
		
	}

	.column h1{
		text-align:center;
		padding-top:0%;
		padding-bottom:10%;
		padding-left: 10%;
		padding-right: 10%;
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		line-height: 40px;
	}

/*--------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:1000px) { /*computer screen styling */
	.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	.banner-words{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-top: 40%;
		padding-bottom: 0%;
		color: white;
	}

	.bg-img2{
		background-image: url(img/purplecitybg);
		background-attachment: fixed;
		width: 100vw;
		height: 150vh;
		background-size:cover;
		background-repeat:no-repeat;
		padding-top: 0%;
	}
	
	.wrapper2{
		width: 100vw;
		margin: 0 auto;
	}

	.title{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-bottom: 15%;
		
	}
	.p-title{
		text-align: center;
		font-family:'charukola-unicode-regular', sans-serif;
		padding-top: 10%;
		padding-bottom: 15%;
		color: white;
	}
	
	.img-banner { /* top image aka banner img */
		background-image: url(img/eyeimg.webp);
		background-attachment:fixed;
		width:100vw;
		height: 100vh;
		background-size:cover;
		background-repeat:no-repeat;
		padding-bottom:5%;
	  }

	.article { /* class for <section> tag. wraps around all text & img for each section or mai journey */
		display: flex;
		justify-content: space-between;
		}
	
	.image-holder { /* class for all the images used. they're wrapped in a div */
			width: 25%;
			padding-right: 5%;
			
		  }
			
			
	.img-info { /* tag for all text under my journey section */
		width:70%;	
	}
	
	.img-info h3{ /* tag for all text under my journey section */
		padding:20px 0px 0px 30px;
		font-family:'charukola-unicode-regular', sans-serif;
		font-size: 25px;
		
	}	
	.img-info h2{/* tag for all text under my journey section */
		text-align:center;
		padding-top:100px;
		padding-bottom:50px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 40px;
		line-height: 60px;
			
	}
	.img-info p{/* tag for all text under my journey section */
		padding: 20px 0px 0px 30px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 30px;
	}
	.img-info ul{/* list css styling */
		padding: 20px 0px 0px 30px;
		font-family: 'charukola-unicode-regular', sans-serif;
		font-size: 16px;
		color: #50555c;
		line-height: 30px;
		padding-left: 10%;
		padding-bottom: 10%;
	}
	.img-info li{
		line-height: 35px;
	}
	p.para { /* long text paragraphs. This is used for adding padding at the bottom to give each section space.*/
		padding-bottom: 10%;
	}

	/* le images tags begin */
	.img-2yb { /*satec @WA porter img */
		padding-top: 20px;
		width: 100%;
		height: auto;
	  }
	
	.astro-img { /* satec astro image  */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}

	.clubs-img { /* satec club image */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}
	.volunteer-img { /* satec volunteer image */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}
	.competition-img { /* satec competition image */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}
	.work-img { /* job imges */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}
	.sport-img { /* sport imges */
		padding-top: 20px;
		width: 100%;
		height: auto;
	}


	/* who i am tags begin laptop*/

	.box-imgs{
		width: 50%;
		height: 50%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30%;
	}
	

	.whoiam-section{
		display:flex;
		flex-direction: row;
		padding: 0% 10% 0% 10%; /* top right bottom left */
		text-align: center;
		justify-content: center;
		
		
	}
	.column {
		display:flex;
		flex-direction:column;
		text-align: center;
		padding: 10% 10% 10% 10%;
		border: 1px solid #D3D3D3;
		background-color: #e4f6f8;
		

		
	}

	.column h1{
		text-align:center;
		padding-top:0%;
		padding-bottom:10%;
		font-family: 'Indie Flower', cursive;  
		font-size: 30px;
		line-height: 40px;			
	}

	.column p{
	
	}
}

